flask
mysql-connector-python
minio
file-validator
flask-accept
flask-cors
fleep
clamd
pillow
pyjwt
flickrapi
requests
cryptography
okta-jwt-verifier
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-mysql
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-logging
psutil
paramiko
passlib