networks:
  default:
    name: dev
    external: true
services:
  docriver-token:
    image: docriver-base:0.0.1-SNAPSHOT
    user: 1000:1000
    volumes:
    - ${DOCRIVER_GW_HOME}/src:/app
    - ${HOME}/.ssh/docriver:/keystore
    command: ["python", "/app/reference_token_server.py", "--keystore", "/keystore/docriver.p12", "--password", "docriver", "--oktaUrl", "${DOCRIVER_AUTH_URL}", "--oktaAud", "api://default", "--log", "INFO", "--debug"]
    # The portmapping must be enabled only for debugging. Any requests should be proxied after authentication/authorization
    # ports:
    # - 15001:5001
  example-app-nginx:
    image: tomsmithokta/nginx-oss-okta:${DOCRIVER_NGINX_VERSION:-latest}
    # TODO change to nginx from nginx-debug
    command: nginx-debug -g 'daemon off;'
    # stdin_open: true
    # tty: true
    depends_on:
      docriver-token:
        condition: service_started
    environment:
      DOCRIVER_OIDC_CLIENTID: ${DOCRIVER_OIDC_CLIENTID}
      DOCRIVER_OIDC_SECRET: ${DOCRIVER_OIDC_SECRET}
      DOCRIVER_OIDC_DISCOVERY_URL: ${DOCRIVER_OIDC_DISCOVERY_URL}
      DOCRIVER_OIDC_REDIRECT_URL: ${DOCRIVER_OIDC_REDIRECT_URL}
      DOCRIVER_OIDC_POST_LOGOUT_REDIRECT_URL: ${DOCRIVER_OIDC_POST_LOGOUT_REDIRECT_URL}
    volumes:
    - ${DOCRIVER_GW_HOME}/infrastructure/nginx/conf/example-app.conf:/etc/nginx/nginx.conf
    - ${DOCRIVER_GW_HOME}/infrastructure/nginx/conf/htpasswd:/etc/nginx/htpasswd
    - ${DOCRIVER_GW_HOME}/example-app/html:/usr/share/nginx/html:ro
    - ${HOME}/.ssh/docriver:/etc/nginx/certs
    ports:
    - ${EXAMPLE_APP_NGINX_PORT:-443}:443