
docriver-uploader-basic .docriverSubmissionBox {
    background-color: #04AA6D;
    color: black;
    padding: 15px 15px;
    text-decoration: none;
    margin: 10px 0px;
}

docriver-uploader-basic input[type=submit],input[type=reset] {
    background-color: #04AA6D;
    border: 2px solid #18D29A;
    border-radius: 5px;
    color: white;
    padding: 5px 5px;
    margin: 4px 4px;
    cursor: pointer;
}

docriver-uploader-basic .docriverSubmissionResult {
    color: white;
}